
@media(max-width:1199px){
    .work-content {
	    padding-top: 60px;
	}
}

@media(max-width:991px){
 .top-header ul {
        font-size: 14px;
        padding: 0;
    }
    .top-header .fb{
	font-size: 20px;
	height: 21px;
        width: 21px;
        line-height: 21px;
    }

    .banner h1{
		font-size:40px;
	}
	.banner h3{
		font-size: 20px;
	}
	.btn-banner {
	    font-size: 16px;
	    font-weight: 500;
	    padding: 4px 12px;
	}
	.hg {
	    min-height: 60vh;
	}
	.step_content{
		
	}
	.step_content h3{
		font-size: 20px;
		margin-top: 10px;
	}
	.step_content p{
		font-size: 14px;
	}
	.work-content {
	    padding-top: 40px;
	}
	.work-content h3{
		font-size: 20px;
	}
	.work-content p{
		font-size: 16px;
    }
    footer p{
        padding: 8px 0;
        font-size: 12px;
    }
}

@media(max-width:767px){
    .top-header-content{
		margin: auto;
	}
	.banner h1{
		font-size:32px;
	}
	.banner h3{
		font-size: 14px;
	}
	.btn-banner {
	    font-size: 12px;
	    font-weight: 500;
	    padding: 2px 8px;
	}
	.hg {
	    min-height: 40vh;
	}
	.about_us {
	    margin: 30px 0;
	}
	.about_us h1 {
	    font-size: 26px;
	}
	.about_us h5 {
	    font-size: 16px;
	}
	.about-us-content img{
		height: 18%;
	}
	.about-us-content h4{
	    font-size: 22px;
	}
	.about-us-content p{
		font-size: 16px;
	}
	.our_approach {
	    margin: 30px 0;
	}
	.our_approach h1 {
	    font-size: 26px;
	}
	.our_approach h5 {
	    font-size: 16px;
	}
	.step_content{
		text-align: center;
		margin-top: 50px;
	}
	.step_content h3{
		font-size: 20px;
		margin-top: 5px;
	}
	.step_content p{
		font-size: 14px;
	}
	.step{
		right: 50%;
		top: 100%;
		transform: translate(50%,-50%);
	}
	.custom_padding{
		padding: 30px 0;
	}
	.step_content_right{
		margin-top: 0px;
	}
	.appr_img_right{
		margin-top: 50px;
	}
	.step_right{
		left: 10%;
	    top: 0%;
	    transform: translate(50%,-50%);
	}
	.our_work {
	    margin: 30px 0;
	}
	.our_work h1 {
	    font-size: 26px;
	}
	.our_work h5 {
	    font-size: 16px;
	}
	.work-content {
	    padding-top: 80px;
	}
	.contact h1{
		font-size: 28px;
    }
    footer p{
        padding: 6px 0;
        font-size: 8px;
    }
}

@media(max-width:575px){
    .top-header ul {
        font-size: 10px;
        padding:0;
    }
    .top-header .fb{
	font-size: 18px;
	height: 20px;
        width: 20px;
        line-height: 20px;
    }
.top-header ul li i{
    margin-right: 1px;
}

    .banner {
        background-size: contain;
        background-repeat: no-repeat;
    }
    .banner h1{
        font-size:16px;
    }
    .banner h3{
        font-size:12px;
    }
    .btn-banner{
        font-size: 12px;
        font-weight: 600;
        padding: 2px 8px; 
    }
    
    .btn-banner:hover{
        font-size: 14px;
        font-weight: 700;
    }
    .hg{
        min-height:94vh;
    }
    .about_us {
        padding-top: 0px;
    }
    .about_us h1{
        font-size: 22px;
    }
    .about_us h5{
        font-size: 12px;
    }
    p {
    font-size: 10px;
    }
    h5{
    	font-size: 12px;
    }
    h3{
    	font-size: 12px;
    }
    span{
        height:4px;
        width:30px;
        
    }
    .our_approach h1 {
        font-weight: 500;
        font-size: 22px;
    }
    .our_approach h5 {
        font-size: 12px;
    } 
    .step_left{
        width: 70px;
        height: 70px;
        right: 83%;
        top: 100%;
    }
    .step_right{
        width: 70px;
        height: 70px;
        left: 2%;
        top: 0%;
    }
    .step p{
        font-size: 20px;
        font-weight:600;
        padding: 0;
    }
    .step h1{
        font-weight: 700;
        font-size: 29px;
        padding: 0;
    }
    .approach .step{
        left:-18%;
    }
    .no-gutters {
        
        box-shadow: 0px 0px 7px -3px;
        
    }
    .our_work h1 {
        font-weight: 500;
        font-size: 28px;
    }
    .our_work h5 {
        font-size: 16px;
    } 
    .w1w2{
        margin: 10px;
    }
    .w3w4{
        margin: 10px;
    }
    .container{
        padding-right: 0px;
    }
    h4{
    	font-size: 12px;
    }
    .cont {
        text-align: center;
        padding-top: 30px;
    }
    .img-fluid{
        width: 100%;
    }
    .contact h1 {
        font-size: 22px;
        padding-top: 0px;
    }
    .contact{
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 18px;
    }
    .contact i {
        font-size: 40px;
        
    }
    .get-content ul {
        width: 66%;
        font-size: 22px;
    }
    .get-content  {
        font-size: 22px;
        margin:-19px;
    }
    .form-group {
        margin: 0px 54px 0px;
    }
    .button{
    margin-left: 120px;
    margin-top: 37px;
    }
}
